:root {
    /* variables para tipografias */
    --rosado-font: #e25d79;
    --blanco-font: #e8e8e8;
    --azulOscuro-font: #17202d;
  
    /* Variables para el background */
    --fondo-rosado: #e25d79;
    --fondo-oscuro: #17202d;
    --fondo-blanco: #e8e8e8;
  
    /* Variables para botones*/
    --btn-rosado: #e25d79;
    --btn-blanco: #e8e8e8;
    --btn-degradado: linear-gradient(106.57deg, #d4355b 0%, #733570 100%);
  
    /* variables para iconos */
  
    --icon-rosado: #e25d79;
    --icon-blanco: #e8e8e8;
  }

  .cuerpo {
      /* border: solid 1px yellow; */
      max-width: 1280px;
      height: 1500px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 90px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(16, 1fr);
      gap: 20px;
  }

  .cuerpo h2 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-size: 30px;
    padding-top: 20px;
    color: var(--blanco-font);
  }

  .cuerpo .img1 {
    border: solid 1px red;
    grid-column: 1 / 9;
    grid-row: 2 / 9;
  }

  .cuerpo .img2 {
    border: solid 1px red;
    grid-column: 1 / 4;
    grid-row: 9 / 11;
  }

  .cuerpo .img3 {
    border: solid 1px red;
    grid-column: 4 / 6;
    grid-row: 9 / 11;
  }

  .cuerpo .img4 {
    border: solid 1px red;
    grid-column: 6 / 9;
    grid-row: 9 / 11;
  }

  .cuerpo .comentarios {
    border: solid 1px red;  
    /* height: 1000px; */
    grid-column: 1 / 9;
    grid-row: 11 / 17;
  }

  .cuerpo .precio {
    border: solid 1px red;
    grid-column: 9 / 13;
    grid-row: 1 / 7;
  }

  .cuerpo .formatos {
    border: solid 1px red;
    grid-column: 9 / 13;
    grid-row: 7 / 12;
  }